.boxApp {
  color: rgb(31, 164, 253);
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.appTitle {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.loading {
  display: flex;
  justify-content: center;
}

.error {
  display: flex;
  justify-content: center;
  color: rgb(192, 4, 4);
  font-size: 24px;
}
